<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">

    <!--Application Insights Key-->
    <InstrumentationKey>xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx</InstrumentationKey>

    <!--Data Collection: 資料收集的對象會實作為一組遙測模組，各自負責特定的資料集-->
    <TelemetryModules>
        <Add Type="Microsoft.ApplicationInsights.DependencyCollector.DependencyTrackingTelemetryModule, Microsoft.ApplicationInsights.DependencyCollector">
            <ExcludeComponentCorrelationHttpHeadersOnDomains>
                <Add>core.windows.net</Add>
                <Add>core.chinacloudapi.cn</Add>
                <Add>core.cloudapi.de</Add>
                <Add>core.usgovcloudapi.net</Add>
                <Add>localhost</Add>
                <Add>127.0.0.1</Add>
            </ExcludeComponentCorrelationHttpHeadersOnDomains>
            <IncludeDiagnosticSourceActivities>
                <Add>Microsoft.Azure.ServiceBus</Add>
                <Add>Microsoft.Azure.EventHubs</Add>
            </IncludeDiagnosticSourceActivities>
        </Add>
    </TelemetryModules>

    <!--Telemetry Enrichment: 擴充遙測項目的內容-->
    <TelemetryInitializers>
        <Add Type="Microsoft.ApplicationInsights.Extensibility.OperationCorrelationTelemetryInitializer, Microsoft.ApplicationInsights.DependencyCollector"/>
        <Add Type="Microsoft.ApplicationInsights.DependencyCollector.HttpDependenciesParsingTelemetryInitializer, Microsoft.ApplicationInsights.DependencyCollector"/>
    </TelemetryInitializers>

    <!--Telemetry Processing Pipeline: 這裡用來定義要過濾的遙測資料，預設會用不破壞統計精確度的取樣方式，減少傳送自動收集的遙測資料-->
    <TelemetryProcessors></TelemetryProcessors>

    <!--Telemetry Transmission: 所有遙測資料會排入都佇列，進行批次、壓縮、定期傳送至目的地-->
    <TelemetryChannel Type="Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.ServerTelemetryChannel, Microsoft.AI.ServerTelemetryChannel"/>

</ApplicationInsights>
